.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 1rem 2rem;
}

.Menu{
  display: none;
}
.Navlinks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.NavLink{
  text-decoration: none;
  margin-left: 1rem;
}
.link{
  text-decoration: none;
   color: #333;

}

.navbar-account {
  position: relative;
}

.account-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.account-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0.625rem; /* Equivalent to 10px */
}

.account-dropdown {
  position: absolute;
  top: 2.5rem;
  right:0 ;
  width: 12.5rem; /* Equivalent to 200px */
  background-color: #fff;
  border: 1px solid #ccc;
  display: none;
}

.account-section:hover .account-dropdown {
  display:block;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  padding: 0.625rem; /* Equivalent to 10px */
}


.Se-deconnecter{
  background-color: transparent;
  color: rgb(218, 15, 15);
}
.dropdown-item:hover {
  background-color: #f2f2f2;
}
.logout-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.logout-modal-content {
  background-color: #fff;
  padding: 1.25rem; /* Equivalent to 20px */
  border-radius: 0.3125rem; /* Equivalent to 5px */
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
  text-align: center;
}

.logout-modal-content h2 {
  margin-bottom: 0.625rem; /* Equivalent to 10px */
}

.logout-modal-content p {
  margin-bottom: 1.25rem; /* Equivalent to 20px */
}

.logout-modal-buttons button {
  margin: 0 0.625rem; /* Equivalent to 10px */
  padding: 0.5rem 1rem; /* Equivalent to 8px 16px */
  border-radius: 0.1875rem; /* Equivalent to 3px */
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}

.logout-modal-buttons button:last-child {
  background-color: #ff0000; /* Red Button */
  color: #fff;
}

.logout-modal-buttons button:last-child:hover {
  background-color: #cc0000; /* Darker Red on Hover */
}

.logout-modal-buttons button:first-child {
  background-color: #00cc00; /* Green Button */
  color: #fff;
}

.logout-modal-buttons button:first-child:hover {
  background-color: #009900; /* Darker Green on Hover */
}

.logo:hover {
  cursor: pointer;
}

@media (max-width:850px){
*{
  font-size: small;
}
.user-management{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
 }
}
@media (max-width:750px){
  .Menu{
    display: block;
    z-index: 1000;
  }
  .Navlinks{
    display: none;
  }
 

}


@media (max-width:450px){
  *{
    font-size: 10px;
  }
  nav{
    width: 100vw;
  }
  .user-management{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
  .userList table{
    width: 20rem;
    font-size: 5px;
    transform: translateX(5%);
  }
}